.TicketTrackerApp {

  h1 {
    margin: 2rem 0;
    font-size: 4rem;
    text-align: center;
  }
}

.trackerContainer {
  display: grid;
  gap: 2rem;
  width: 80%;
  margin: auto;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 767.98px) {
  .trackerContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1023.98px) {
  .trackerContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}